<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-avatar slot="end">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgivET7xLsmNdkdodyiK0t3pfaITWoabVHUKhFnvz3OQ&s"
      />
    </ion-avatar>
    <ion-label>
      <ion-icon
        name="arrow-back-circle-outline"
        style="height: 30px"
      ></ion-icon>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>PRATOS DA CASA</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Pizza de mussarela</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Salada de frutas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Waffle</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Batatas-fritas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
