ion-item {
  --background: rgba(247, 231, 231, 0.96);

  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }
}

ion-content {
  --background: #f8f8fa;
}

ion-icon {
  width: 30px;
}
